.main-section ol, ul {
  padding-left: 2rem; }

.main-section dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem; }

.main-section ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0; }
.main-section hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25; }

.main-section hr:not([size]) {
  height: 1px; }

.main-section .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2; }

.main-section .h1, h1 {
  font-size: calc(1.375rem + 1.5vw); }

.main-section {
  margin: 0 auto 0; }
  .main-section p {
    font-size: 1.8rem;
    font-family: "panton-regular", sans-serif; }
  .main-section a {
    color: inherit; }
  .main-section h1 {
    font-size: 3rem;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 30px; }
  .main-section h3 {
    color: #b85a4d;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2.3rem; }
  .main-section ul {
    padding-top: 1.5rem;
    padding-left: 5rem; }
    .main-section ul li {
      font-size: 1.8rem;
      list-style: disc;
      padding-bottom: 1rem; }


.main-section .grid__container {
  margin: 2rem auto 0; }
.main-section .grid__container .simple__grid {
    flex-flow: wrap; }

@media (min-width: 1200px) {
 .main-section .h1, h1 {
    font-size: 2.5rem; } }

.main-section .h2, h2 {
  font-size: calc(1.325rem + .9vw); }

@media (min-width: 1200px) {
  .main-section .h2, h2 {
    font-size: 2rem; } }

.main-section .h3, h3 {
  font-size: calc(1.3rem + .6vw); }

@media (min-width: 1200px) {
 .main-section .h3, h3 {
    font-size: 1.75rem; } }

.main-section .h4, h4 {
  font-size: calc(1.275rem + .3vw); }

@media (min-width: 1200px) {
 .main-section .h4, h4 {
    font-size: 1.5rem; } }

.h5, h5 {
  .main-section font-size: 1.25rem; }

.h6, h6 {
  .main-section font-size: 1rem; }

.main-section p {
  margin-top: 0;
  margin-bottom: 1rem; }

.main-section abbr[data-bs-original-title], abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none; }

.main-section address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

.main-section ol, ul {
  padding-left: 2rem; }

.main-section dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem; }

.main-section ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0; }

.main-section dt {
  font-weight: 700; }

.main-section dd {
  margin-bottom: .5rem;
  margin-left: 0; }

.main-section blockquote {
  margin: 0 0 1rem; }

.main-section b, strong {
  font-weight: bolder; }

.main-section .small, small {
  font-size: .875em; }

.main-section .mark, mark {
  padding: .2em;
  background-color: #fcf8e3; }

.main-section sub, sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline; }
.lookbook-header + .main__wrapper {
  margin-bottom: 0; }
.lb-main {
  padding: 6.5rem 0 6rem; }
  .lb-main .container {
    max-width: 100%;
    padding: 0 4%; }
    @media screen and (min-width: 768px) {
      .lb-main .container {
        padding: 0 3%; } }
    @media screen and (min-width: 992px) {
      .lb-main .container {
        padding: 0 4%; } }
    .lb-main .container .row {
      margin: 0 -15px; }
      @media screen and (min-width: 1200px) {
        .lb-main .container .row {
          margin: 0 -30px; } }
      .lb-main .container .row .lb-layout {
        padding: 0 15px;
        margin-bottom: 30px; }
        @media screen and (min-width: 1200px) {
          .lb-main .container .row .lb-layout {
            margin-bottom: 60px;
            padding: 0 30px; } }
        .lb-main .container .row .lb-layout__card {
          position: relative; }
          .lb-main .container .row .lb-layout__card .card-text {
            position: absolute;
            top: 69.5%;
            color: white;
            left: 37.6%; }
            @media screen and (min-width: 768px) {
              .lb-main .container .row .lb-layout__card .card-text {
                left: 35%;
                top: 71%; } }
            @media screen and (min-width: 1200px) {
              .lb-main .container .row .lb-layout__card .card-text {
                top: 75%; } }
            @media screen and (min-width: 1400px) {
              .lb-main .container .row .lb-layout__card .card-text {
                top: 76%; } }
            @media screen and (min-width: 1550px) {
              .lb-main .container .row .lb-layout__card .card-text {
                top: 79.9%; } }
            .lb-main .container .row .lb-layout__card .card-text h3 {
              font-size: 1.8rem;
              text-transform: uppercase;
              padding: 0; }
              @media screen and (min-width: 1200px) {
                .lb-main .container .row .lb-layout__card .card-text h3 {
                  font-size: 2.2rem; } }
              @media screen and (min-width: 1400px) {
                .lb-main .container .row .lb-layout__card .card-text h3 {
                  font-size: 2.8rem; } }
            .lb-main .container .row .lb-layout__card .card-text p {
              font-size: 1.6rem;
              padding-top: .5rem; }
              @media screen and (min-width: 1200px) {
                .lb-main .container .row .lb-layout__card .card-text p {
                  padding-top: 0;
                  font-size: 1.6rem; } }
              @media screen and (min-width: 1400px) {
                .lb-main .container .row .lb-layout__card .card-text p {
                  font-size: 2.4rem; } }

.lb-main a:visited, .alink:visited{
 color: #fff; }

.main__wrapper {
  position: relative;
  z-index: 9;
  margin-bottom: 7rem; }

@media screen and (min-width: 992px) {
  header + .main__wrapper {
    margin-top: 12.6rem; } }

@media screen and (min-width: 992px) {
  header.sticky + .main__wrapper {
    margin-top: 6.6rem; } }

@media screen and (min-width: 992px) {
  header.transparent + .main__wrapper {
    margin-top: 0rem; } }

.lookbook-header + .main__wrapper {
  margin-bottom: 0; }
.chart-model {
  margin: 0 auto; }
.size-chart-table {
  margin: 4.5rem 0 3.5rem; }
  .size-chart-table__head {
    background: #fcf7ee; }
    .size-chart-table__head .blank-th {
      color: #fcf7ee;
      user-select: none; }
  .size-chart-table tr {
    border-bottom: 1px solid #ccc; }
    .size-chart-table tr th {
      padding: 1rem 0;
      font-size: 1.6rem; }
    .size-chart-table tr td {
      padding: 1rem 0;
      font-size: 1.4rem; }
.contact__details {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 1rem; }
  @media screen and (min-width: 992px) {
    .contact__details {
      justify-content: space-between; } }
  .contact__details .contact__half_column {
    margin-bottom: 4rem;
    width: 100%; }
    @media screen and (min-width: 992px) {
      .contact__details .contact__half_column {
        width: calc(50% - 6rem); } }
    .contact__details .contact__half_column h3 {
      margin-top: 0; }
    .contact__details .contact__half_column:last-child {
      position: relative; }
      @media screen and (min-width: 992px) {
        .contact__details .contact__half_column:last-child:before {
          content: "";
          top: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          width: 1px;
          background: #cccccc;
          left: -6rem; } }
  .contact__details button {
    margin-top: 2rem;
    background: #a04b3f;
    border-radius: 5px;
    color: white;
    padding: 1.5rem 5rem;
    font-size: 1.8rem;
    outline: none;
    border: none; }
  .contact__details input.cap {
    user-select: none;
    background: #fff;
    text-align: center;
    max-width: 16.3rem; }
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

input[type=text], input[type=email], input[type=password], textarea {
  min-height: 3.8rem;
  font-size: 1.4rem;
  border-radius: 0; }

.form-group {
  margin-bottom: 1rem; }
  .form-group span {
    color: #b85a4d; }

textarea.form-control {
  font-size: 1.4rem;
  max-height: 13.2rem; }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }
